registry=https://logrhythm.jfrog.io/logrhythm/api/npm/npm-virtual
//logrhythm.jfrog.io/logrhythm/api/npm/npm-virtual/:_auth=${JFROG_NPM_AUTH}
//logrhythm.jfrog.io/logrhythm/api/npm/npm-virtual/:always-auth=true
